.ppinterest_logo {
    font-family: 'Hi Melody', cursive;"
}

.ppinterest_footer_button {
    font-size: .6rem;
}

.ppinterest_footer {
    text-align:center; margin-top: 2rem;
}

.ppinterest_header {
    text-align:center;
    margin: 2rem 0;"
}